<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Form</title>
</head>

<body>
    <div class="toDoForm">
        <h1>ToDo Form</h1>
        <form class="form">
            <span class="formSpan">Текст заметки: 
                <input v-model="creatingToDo" class="formText" placeholder="Введите текст" />
            </span>
            <span class="formSpan">Приоритет:
                <select class="formSelect">
                    <option value="Выполнено">Выполнено</option>
                    <option value="Не выполнено">Не выполнено</option>
                </select>
            </span>
            <button class="formButton" @click.prevent="handleSendToDo(creatingToDo)">Создать</button>
        </form>
        <div class="toDoCard">

            <span class="toDoSpan">Показать задачи </span>
            <input name="radioAction" type="radio" checked class="radioBox radioShow" />

            <span class="toDoSpan">Спрятать задачи </span>
            <input name="radioAction" type="radio" class="radioBox radioHidden" />

            <div class="toDos" v-for="todoItem, i in todoList" :key="i">
                <div class="toDo" 
                tabindex="1" 
                data-tooltip="Дополнительная информация">
                    <input type="checkbox" class="toDoCheckbox" 
                    v-model="todoItem.status" @click="console.log(todoItem.status)"/>
                    <span class="toDoSpan" v-if="!todoItem.isEditing" v-bind:class="{ toDoSpanCompl: todoItem.status }">{{todoItem.name}}</span>
                    <input class="toDoSpan formText" v-else type="text" v-model="todoItem.reName" />
                    <div v-if="!todoItem.isEditing" class="toDoButtons">
                        <button class="toDoButton" @click.prevent="handleEditToDo(todoItem)">Редактировать</button>
                        <button class="toDoButton" @click.prevent="handleDeleteToDo(todoItem)">Удалить</button>
                    </div>
                    <div v-else class="toDoButtons">
                        <button class="toDoButton" @click.prevent="handleSaveEdit(todoItem)">Сохранить</button>
                        <button class="toDoButton" @click.prevent="handleCancelEdit(todoItem)">Отменить</button>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>

</body>

</html>